{% load staticfiles %}

<html lang="en">
    <head>
        <title>Storm Chasers Blog</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css' >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
<div class="container">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
        </button>

      <a class="navbar-brand" href="{% url 'home' %}">
         <img src="{% static 'images/logo.png' %}" height="40" width="40" >
      </a>
    </div>
      <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div id="navbar-header" class="collapse navbar-collapse">
        <button href="{% url 'blog' %}" type="button" class="btn btn-primary">Storm Chasers Blog</button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <form class="navbar-form navbar-center">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
          <button type="submit"><span class="glyphicon glyphicon-search gi-4x"></span></button>
      </form>
      </ul>
        <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'logout' %}"><i class="fa fa-btn fa-sign-out"></i>Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <button href="{% url 'login' %}" type="button" class="btn btn-primary">Sign In/Up</button>
                    </li>
                {% endif %}
        </ul>
      </ul>
    </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- How do we center the buttons? -->
        <div class="navbar-default bg-dark center" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="{% url 'about_us' %}">About Us</a></li>
                <li><a href="{% url 'my_profile' %}">My Profile</a></li>
                <li><a href="{% url 'subscriptions' %}">Subscriptions</a></li>
                <li><a href="{% url 'locations' %}">Locations</a></li>
            </ul>
        </div>
    </div>
    </div>
</nav>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</html>
