{% extends 'blog/base.html' %}

{% load custom_filters %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <h1>Dashboard</h1>
  <style>
    html, body{
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    #map-canvas {
      width: 50%;
      height: 50%;
    }
    .gm-style-iw {
      text-align: center;
    }
    .table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}
    
  </style>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?Client=AIzaSyAC_aXhhsuUdPkBMFuKWNVOitZaTkRuVO4">
</script>
<script>
  var map;
  var geoJSON;
  var request;
  var gettingData = false;
  var openWeatherMapKey = "cc788cb375ce74a845b7a8f543c7175d"
  function initialize() {
    var mapOptions = {
      zoom: 9,
      center: new google.maps.LatLng({{ lat }}, {{ lon }})

    };
    map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);
    // Add interaction listeners to make weather requests
    google.maps.event.addListener(map, 'idle', checkIfDataRequested);
    // Sets up and populates the info window with details
    map.data.addListener('click', function(event) {
      infowindow.setContent(
       "<img src=" + event.feature.getProperty("icon") + ">"
       + "<br /><strong>" + event.feature.getProperty("city") + "</strong>"
       + "<br />" + event.feature.getProperty("temperature") + "&deg;C"
       + "<br />" + event.feature.getProperty("weather")
       );
      infowindow.setOptions({
          position:{
            lat: event.latLng.lat(),
            lng: event.latLng.lng()
          },
          pixelOffset: {
            width: 0,
            height: -15
          }
        });
      infowindow.open(map);
    });
  }
  var checkIfDataRequested = function() {
    // Stop extra requests being sent
    while (gettingData === true) {
      request.abort();
      gettingData = false;
    }
    getCoords();
  };
  // Get the coordinates from the Map bounds
  var getCoords = function() {
    var bounds = map.getBounds();
    var NE = bounds.getNorthEast();
    var SW = bounds.getSouthWest();
    getWeather(NE.lat(), NE.lng(), SW.lat(), SW.lng());
  };
  // Make the weather request
  var getWeather = function(northLat, eastLng, southLat, westLng) {
    gettingData = true;
    var requestString = "http://api.openweathermap.org/data/2.5/box/city?bbox="
                        + westLng + "," + northLat + "," //left top
                        + eastLng + "," + southLat + "," //right bottom
                        + map.getZoom()
                        + "&cluster=yes&format=json"
                        + "&APPID=" + openWeatherMapKey;
    request = new XMLHttpRequest();
    request.onload = proccessResults;
    request.open("get", requestString, true);
    request.send();
  };
  // Take the JSON results and proccess them
  var proccessResults = function() {
    console.log(this);
    var results = JSON.parse(this.responseText);
    if (results.list.length > 0) {
        resetData();
        for (var i = 0; i < results.list.length; i++) {
          geoJSON.features.push(jsonToGeoJson(results.list[i]));
        }
        drawIcons(geoJSON);
    }
  };
  var infowindow = new google.maps.InfoWindow();
  // For each result that comes back, convert the data to geoJSON
  var jsonToGeoJson = function (weatherItem) {
    var feature = {
      type: "Feature",
      properties: {
        city: weatherItem.name,
        weather: weatherItem.weather[0].main,
        temperature: weatherItem.main.temp,
        min: weatherItem.main.temp_min,
        max: weatherItem.main.temp_max,
        humidity: weatherItem.main.humidity,
        pressure: weatherItem.main.pressure,
        windSpeed: weatherItem.wind.speed,
        windDegrees: weatherItem.wind.deg,
        windGust: weatherItem.wind.gust,
        icon: "http://openweathermap.org/img/w/"
              + weatherItem.weather[0].icon  + ".png",
        coordinates: [weatherItem.coord.Lon, weatherItem.coord.Lat]
      },
      geometry: {
        type: "Point",
        coordinates: [weatherItem.coord.Lon, weatherItem.coord.Lat]
      }
    };
    // Set the custom marker icon
    map.data.setStyle(function(feature) {
      return {
        icon: {
          url: feature.getProperty('icon'),
          anchor: new google.maps.Point(25, 25)
        }
      };
    });
    // returns object
    return feature;
  };
  // Add the markers to the map
  var drawIcons = function (weather) {
     map.data.addGeoJson(geoJSON);
     // Set the flag to finished
     gettingData = false;
  };
  // Clear data layer and geoJSON
  var resetData = function () {
    geoJSON = {
      type: "FeatureCollection",
      features: []
    };
    map.data.forEach(function(feature) {
      map.data.remove(feature);
    });
  };
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>
<body>

<div><h3>We Use Your Profile ZIP Code by default</h3></div>
<div><h5>Enter either Lat and Long, or ZIP</h5></div>
{% if openFailure %}
<div><h3 style="background-color: orange;">Search Failed - please try again</h3></div>
{% endif %}

<form id=search_form method="get" action="{% url 'get_forecast' %}">
<div class="form-group" style="padding: 10px;">
<div>
    <input type="text" size="15"  name="lat"  placeholder="Lat">
</div>
<div style="padding: 10px;">
    <input type="text" size="15"  name="lon"  placeholder="Long">
</div>
<div style="padding: 10px;">
    <input type="text" size="15"  name="zip" placeholder="ZIP">
</div>
    <button type="submit" class="btn btn-primary" style="border-radius: 12px; width: 100px;">Go!</button>
</div>
    <div><h6>Enter For Historical Weather (Optional)</h6></div>
<div style="padding: 10px;">
    <input type="text" size="15"  name="year"  placeholder="Year - YYYY">
    <input type="text" size="15"  name="month"  placeholder="Month - MM">
    <input type="text" size="15"  name="day"  placeholder="Day - DD">
</div>
</form>

<div class="w3-container" style="background-color: #7caeff;">
{% if showingZIP %}
<div><h3>Showing ZIP Code: {{ ZIP }}</h3></div>
{% endif %}
{% if showingLatLon %}
<div><h3>Showing Lat Long: ({{ lat }}, {{ lon }})</h3></div>
{% endif %}
</div>

<div><h1>Weather Map</h1></div>
<center>
<p style="text-align: center">Uses Google Maps in conjunction with the OpenWeather API to show live conditions</p>
</center>
    <div id="map-canvas"></div>
{% if displayFiveDayForecast %}
<div><h1>5 Day Weather Forecast</h1></div>
<center>
<p style="text-align: center">Uses OpenWeather to get weather forecast</p>
</center>
<table class="table table-bordered table-hover table-striped" style="white-space: nowrap; width: 1%;">
  <thead style="background-color: #4289ed; color: white;">
    <tr>
    {% for header in headers %}
      <th scope="col">{{ header }}</th>
    {% endfor %}    
    </tr>
  </thead>
  <tbody>
  {% endif %}

  {% for row in displayForecast|columns:10 %}
 <tr>
    {% for item in row %}
        <td>{{ item }}</td>
    {% endfor %}
 </tr>
{% endfor %}

  </tbody>
</table>

{% if displayAlerts %}_
<div><h1>Weather Alerts</h1></div>
<center>
<p style="text-align: center">Uses WeatherUnderGround to get weather alerts</p>
</center>

{% for alert in alertsForDisplay %}
<!-- <span class="border border-dark"> -->
<div class="container-fluid" style="border-style: solid; border-color: #4289ed; padding: 10px;">
<div class="panel panel-default"><h4>{{ alert.0 }}</h4></div>
<div>
<dl>
<li>Alert Issued: {{ alert.1 }}</li>
<li>Alert Expires: {{ alert.2 }}</li>
</dl>
</div>
<p class="text-justify">
  {{ alert.3 }}
</p>
</div>
<!-- </span> -->
{% endfor %}
{% endif %}

{% if displayHistorical %}_
<div style="padding-top: 40px;"><h1>Weather History</h1></div>
<center>
<p style="text-align: center">Uses DarkSky Historical Weather API to get Average Weather Data for a past day</p>
</center>
<center>
<p style="text-align: center; font-size: 24px;">Date: {{ year }}-{{ month }}-{{ day }}</p>
</center>
<div class="container-fluid" style="padding: 10px;">
 <table class="table table-bordered">
    <thead>
      <tr>
        <th>Summary</th>
        <th>Min Temp</th>
        <th>Max Temp</th>
          <th>Avg Temp</th>
          <th>Avg Humidity</th>
          <th>Avg Wind Speed</th>
          <th>Avg Cloud Cover</th>
          <th>Avg Precip Probability</th>
          <th>Avg Precip Intensity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ darkSkyDisplayDict.summary }}</td>
        <td>{{ darkSkyDisplayDict.minTempHistorical }}</td>
        <td>{{ darkSkyDisplayDict.maxTempHistorical }}</td>
        <td>{{ darkSkyDisplayDict.avgTempHistorical }}</td>
        <td>{{ darkSkyDisplayDict.avgHumidity }}</td>
        <td>{{ darkSkyDisplayDict.avgWindSpeed }}</td>
        <td>{{ darkSkyDisplayDict.avgCloudCover }}</td>
        <td>{{ darkSkyDisplayDict.avgPrecipProb }}</td>
        <td>{{ darkSkyDisplayDict.avgPrecipIntensity }}</td>
      </tr>
    </tbody>
  </table></div>
{% endif %}


{% endblock %}


