{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}
</style>
<body>

<!-- Page content -->
<div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Storm Chasers Hub</h1>
        {% if user.is_authenticated %}
        <p>Welcome to the largest online hub for storm spotters and storm chasers. Here knowledgable members have access to our news dashboard, and share field experiences in the blog. Welcome back. </p>
        {% else %}
        <p>Welcome to the largest online hub for storm spotters and storm chasers. Here knowledgable members have access to our news dashboard, and share field experiences in the blog. Create an account to join in the fun. </p>
        {% endif %}
        <p><a class="btn btn-primary btn-lg" href="{% url 'about_us' %}" role="button">Learn more »</a></p>
      </div>
    </div>

  <!-- Automatic Slideshow Images -->
  <div class="mySlides w3-display-container w3-center">
    <img src="{% static 'images/home_weather_3.jpg' %}" style="width:62%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>@The_Steak_Man</h3>
      <p><b>Great spot to test out my new camera - big thanks to TommyK!</b></p>
    </div>
  </div>
      <div class="mySlides w3-display-container w3-center">
    <img src="{% static 'images/home_weather_4.jpg' %}" style="width:62%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>@Granola</h3>
      <p><b>Hiked 5 miles into the hills outside Chicago for this</b></p>
    </div>
  </div>
      <div class="mySlides w3-display-container w3-center">
    <img src="{% static 'images/home_weather_5.jpg' %}" style="width:62%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>@$unCAKEZ</h3>
      <p><b>Nassau beach Bahamas</b></p>
    </div>
  </div>
      <div class="mySlides w3-display-container w3-center">
    <img src="{% static 'images/home_weather_6.jpg' %}" style="width:62%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>@FORECASTS_1</h3>
      <p><b>September in Indiana - 1 mile from my house</b></p>
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="{% static 'images/home_weather_1.jpg' %}" style="width:62%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>@Phil_Hodges</h3>
      <p><b>Atmosphere in Northern Kentucky</b></p>
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="{% static 'images/home_weather_2.jpg' %}" style="width:62%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>@joeySalads</h3>
      <p><b>From Boston's coastline - bringing in Spring</b></p>
    </div>
  </div>

  <!-- The Band Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">Storm Chasers</h2>
    <p class="w3-opacity"><i>History</i></p>
    <p class="w3-justify">Storm chasing is increasing in popularity with more people than ever heading to ‘Tornado Alley’ each Spring to witness these dramatic displays of nature, but it has a history that not many are aware of.

Widely considered the pioneer of storm chasing is David Hoadley who began chasing in his hometown in North Dakota in 1956. He was also the founder of Storm Track magazine, a newsletter that aimed to bring chasers together, creating the first sense of ‘chaser community’. Neil Ward was the first scientific storm chaser, developing many ideas about thunderstorms and tornado structure, forecasting and intercepting storms. </p>
    <div class="w3-row w3-padding-32">
      <div class="w3-half" style="padding: 15px;">
        <h3>Trending Storm News</h3>
     <iframe width="348" height="348"
      src="https://www.youtube.com//embed/?listType=user_uploads&list=THEWEATHERCHANNEL">
      </iframe>
      </div>
      <div class="w3-half" style="padding: 15px;">
      <h3>Follow us on twitter</h3>
        <a class="twitter-timeline" data-width="348" data-height="348" href="https://twitter.com/CodeChasers8310?ref_src=twsrc%5Etfw">Tweets by CodeChasers8310</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
    </div>

  <div class="w3-row w3-padding-32">
      <div class="w3-half">
        <h3>Pictures from the Field</h3>
        <iframe width="348" height="348" src="http://s350.photobucket.com/user/CodeChasers8310/embed/slideshow/"></iframe>
      </div>
      <div class="w3-half">
          <h3>Follow us on twitter</h3>
        <a class="twitter-timeline" data-width="348" data-height="348" href="https://twitter.com/NWS?ref_src=twsrc%5Etfw">Tweets by NWS</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
      </div>
      </div>
    </div>
  </div>

  <!-- The Tour Section -->
  <div class="w3-container" id="tour" style="background-image: url({% static 'images/weather_convention.jpg' %}); background-size:100% 100%;">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px;">
      <h2 class="w3-wide w3-center" style="color: #353535;"><b>STORM CHASER MEETUPS</b></h2>
      <p class="w3-opacity w3-center w3-white" style="color: #353535;"><i>Stop in and say hi!</i></p><br>

      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-third w3-margin-bottom">
          <div class="w3-container w3-white w3-opacity w3-hover-opacity-off">
            <p><b>Oklahoma City</b></p>
            <p class="w3-opacity">Fri 8 June 2018</p>
            <p>Downtown Convention Center OKC</p>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <div class="w3-container w3-white w3-opacity w3-hover-opacity-off">
            <p><b>Topeka Kansas</b></p>
            <p class="w3-opacity">Sat 28 July 2018</p>
            <p>Capitol Plaza Hotel and Convention Center</p>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <div class="w3-container w3-white w3-opacity w3-hover-opacity-off">
            <p><b>Manhattan Kansas</b></p>
            <p class="w3-opacity">Sat 18 Aug 2018</p>
            <p>Hilton Garden Inn Manhattan</p>
          </div>
        </div>
        </div>
      </div>
    </div>





</div>


<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium">Powered by Crazy People Chasing Tornadoes! </p>
</footer>

<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();
function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 4000);
}
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>

{% endblock %}


