{% extends 'blog/base.html' %}

{% load static %}

{% block content %}

        <head>
                <meta charset="utf-8">
                <title>Minimal Django File Upload Example</title>
        </head>

<body>


                 <!--Upload form. Note enctype attribute! -->
                <!--<form action="{% url 'new_post' %}" method="post" enctype="multipart/form-data">-->
                        <!--{% csrf_token %}-->
                        <!--<h5>Post Title</h5>-->
                        <!--<p>{{ postForm.title }}</p>-->
                        <!--<h5>Post Text</h5>-->
                        <!--<p>{{ postForm.text }}</p>-->

                        <!--&lt;!&ndash;<p>{{ imageForm.non_field_errors }}</p>&ndash;&gt;-->
                        <!--<p>{{ imageForm.image.label_tag }} </p>-->
                        <!--<p>-->
                                <!--&lt;!&ndash;{{ imageForm.image.errors }}&ndash;&gt;-->
                                <!--{{ imageForm.image }}-->
                        <!--</p>-->

                        <!--<p><input type="submit" value="Upload" /></p>-->
                <!--</form>-->



<form id="post_form" method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <h5>Post Title</h5>

    {% for hidden in postForm.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in postForm %}
        {{ field }} <br />
    {% endfor %}

<div class="container">
  <p class="bg-primary">Your First Image Uploaded Will Appear on the Main Blog Page</p>
</div>
    {{ formset.management_form }}
    {% for form in formset %}
        {{ form }}
    {% endfor %}
    <input type="submit" name="submit" value="Submit" />
</form>

        </body>


  {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}

  <p><a href="{% url 'home' %}">Return to home</a></p>

   <!--List of uploaded documents -->
   {% if images %}
       <ul>
   {% for image in images %}
       <li><a href="{{ image.image.url }}">{{ image.image.name }}
           <img src="{{ image.image.url }}" alt="{{ image.image.name }}">
       </a></li>
   {% endfor %}
        </ul>
   {% else %}
       <p>No documents.</p>
    {% endif %}

{% endblock %}
